
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    min-height: 100%;

}

header {
    background-color: #44004b;
    color: white;
    padding: 4px 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2vw;
    font-weight: bold;
    padding-left: 0.5%;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    padding-right: 0.5%;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

/* Hamburger menu styles */
#nav-toggle {
    display: none;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    left: 10px;
}

.burger-menu span {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    display: block;
}
/* Responsive styles for navigation */
@media (max-width: 768px) {
    .burger-menu {
        display:block;
        position: relative; /* Adjust the position for small screens */
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #44004b;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }
}

.sticky-footer{
    background-color: #44004b;
    color: white;
    text-align: center;
    padding: 0.8%;
    padding-bottom: 0.8%;
    position: sticky !important;
    bottom: 0;
    top: 100%;
    font-size: 0.75rem;
    z-index: 1; 
}


#heading{
    padding: 20px;
    margin-bottom: 0%;

}
#heading h1{
    font-size: 8px;
    text-align: center;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 0%;
    position: relative;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.piechart{
    width: 500px;
    height: 500px;
}

.results{
    width: 500px;
    height: 500px;
    font-size: 24px;
    color: #333;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    text-justify: auto;
    
}

.results p{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    height:30px;
}
.emotion-label, .percentage-value{
    font-family: sans-serif;
    font-size: 15px;
    align-content: justify;
}
.percentage-value{
    font-weight: 100;
    font-size: 26px;
}
/* Style buttons */
.btn {
    
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 50px;
}
  
  /* Darker background on mouse-over */
.btn:hover {
background-color: RoyalBlue;
}
.fa-envelope{
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.fa-envelope:hover{
    background-color: RoyalBlue;
    color:black;
}
.btn-success{
    color: white !important;
}
.alert {
    padding: 20px;
    background-color: #00d200; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .updateStatsButton{
    /* padding: 20px, 20px, 20px, 20px; */
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #44004b;
    color: white;
    border-radius: 4px;
    padding: 10px 24px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

  }
  .updateStatsButton:hover{
    background-color:white;
    color: #44004b;
    
  }
  #updateStatsForm{
    /* align-items: center;
    align-content: center; */
    height: 100px;
    position: relative;

  }
 
  .SendEmail{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .SendEmail span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .SendEmail span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .SendEmail:hover span {
    padding-right: 25px;
  }
  
  .SendEmail:hover span:after {
    opacity: 1;
    right: 0;
  }

